body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/d7/02/4f/d7024ffc0bfd1e50e2a7746a159e354d.jpg");
  background-size:cover;
  font-size:200%;
}

#p1 {
  font-weight: bold;
}

#p2 {
  color: orange;
}

#p3 {
  color: green;
}

#p4 {
  color: red;
}

#p5 {
    color: darkblue;
}