body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/d7/02/4f/d7024ffc0bfd1e50e2a7746a159e354d.jpg");
  background-size:cover;
  font-size:200%;
}

.l1 {
  font-weight: bold;
}

.alt1 {
    font-weight: bold;
    text-decoration: line-through;
}

.l2 {
  color: orange;
}

.alt2{
    color: orange;
    text-decoration: line-through;
}

.l3 {
  color: whitesmoke;
}

.alt3 {
    color: whitesmoke;
    text-decoration: line-through;
}

.l4 {
  color: forestgreen;
}

.alt4 {
    color: forestgreen;
    text-decoration: line-through;
}

.l5 {
    color: red;
}

.alt5 {
    color: red;
    text-decoration: line-through;
}

.l6 {
    color: green;
}

.alt6 {
    color: green;
    text-decoration: line-through;
}

.l7 {
    color: whitesmoke;
}

.alt7 {
    color: whitesmoke;
    text-decoration: line-through;
}

.l8 {
    color: whitesmoke;
}

.alt8 {
    color: whitesmoke;
    text-decoration: line-through;
}

.l9 {
    color: whitesmoke;
}

.alt9 {
    color: whitesmoke;
    text-decoration: line-through;
}