body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/d7/02/4f/d7024ffc0bfd1e50e2a7746a159e354d.jpg");
  background-size:cover;
  font-size:200%;
}

.cb:checked + .label
{
    text-decoration:line-through;
}

.p1 {
  font-weight: bold;
}

.p1a {
    font-weight: bold;
    text-decoration: line-through;
}

.p2 {
  color: orange;
}

.p3 {
  color: whitesmoke;
}

.p4 {
  color: forestgreen;
}

.p5 {
    color: red;
}

.p6 {
    color: green;
}

.p7 {
    color: whitesmoke;
}

.p8 {
    color: whitesmoke;
}

.p9 {
    color: whitesmoke;
}